<div class="mainContainer">
    <div class="contactContainer">
        <div >
            <p class="footer">My Navigation </p>
            <p><a href="">Home</a></p>
            <p><a href="">About</a></p>
            <p><a href="">Service</a></p>
            <p><a href="">Contact</a></p>
        </div>
    
        <div>
            <p class="footer">Update</p>
            <p><a href="">Blogs </a></p>
        </div>
        <div>
            <p class="footer">Connect</p>
            <img class="linkedIn" src="./assets/images/wlinked.png">
            <img class="linkedIn" src="./assets/images/wfb.png">
            <img class="linkedIn" src="./assets/images/wgit.png">
        </div>
        <div>
            <p style="color: aliceblue; margin-top: 30px;">2023 All Rights Reserved </p>
        </div>
     
        
    </div>
    
</div>
