<div class="mainContainer">
    <div class="contactContainer">
        <div >
            <p class="footer">My Navigation </p>
            <p ><a href="http://localhost:4200/home">Home</a></p>
            <p style="margin-top: -8px;" ><a href="http://localhost:4200/home#about">About</a></p>
            <p style="margin-top: -8px;"><a href="http://localhost:4200/home#services">Service</a></p>
            <p style="margin-top: -8px;"><a href="http://localhost:4200/home#projects">Project</a></p>
            <p style="margin-top: -8px;"><a href="http://localhost:4200/home#contact">Contact</a></p>
        </div>
    
        <div>
            <p class="footer">Update</p>
            <p><a href="http://localhost:4200/home#blogs">Blogs </a></p>
        </div>
        <div>
            <p class="footer">Connect</p>
            <img class="linkedIn" src="./assets/images/wlinked.png">
            <img class="linkedIn" src="./assets/images/wfb.png">
            <img class="linkedIn" src="./assets/images/wgit.png">
        </div>
        <div>
            <p style="color: aliceblue; margin-top: 30px;">2023 All Rights Reserved </p>
        </div>
     
        
    </div>
    
</div>
