.contactContainer{
    display: flex;
    margin: 40px 180px;

}

.contactContainer div{
    margin-right: 120px;
    margin-left: 30px;
}
p{
    color:rgb(8, 148, 131);
    
    
}
a{
    text-decoration: none;
    color: aliceblue;
   
}
.footer{
    font-size: 20px;
    margin-bottom: 30px;
}
.mainContainer{
    background-color: rgb(0, 0, 0);
}
img{
    width: 25px;
    margin: 0 10px;
}

.contactContainer a{
    margin-top: -10px;
}