.main_menu{
    margin-left: 400px;
    margin-right: auto;
}
button{
   border: none;
   margin-left: 40px;
   font-size: 15px;
   font-weight: 550;
   transition: transform 0.4s ease;
   background: transparent;
   
}
button:hover{
    color:rgb(8, 148, 131);
    transform: scale(1.2); 
   
 
}