<div class="container">
    <div class="aboutLeft">
        <img src="./assets/images/profile.png">

    </div>
    <div class="aboutRight">
        <div>
          <div class="bothAboutThilina">
            <p class="aboutThilina">About Thilina</p>
            <p class="whatDo">An undergraduate | Programmer | Digital Creator | YouTuber</p>
          </div> 
            <p class="myVision">My Vision</p>
            <p class="visionText">I have an unwavering passion for emerging technologies, a genuine enthusiasm for inspiring individuals, and a fervor for motivating teams towards accomplishing their objectives. I firmly believe that by reshaping our perspective on the world, we can reshape the world we encounter</p>
            <div class="detailsContainer">
                <Div class="leftDetails"><p>Name <span class="detailsColor">Thilina Karunarathne</span></p>
                    <p>Email <span class="detailsColor">thilinanuwankarunarathne@gmail.com</span></p>
                    <p>Location <span class="detailsColor">Kandy</span></p>
                </Div>
                <div><p>Age:<span class="detailsColor">25</span></p></div>
            </div>
           
        </div>
        <div class="aboutButton" >
            <div><Button>View LinkedIn</Button></div>
            <div><Button>Download CV</Button></div>
        </div>

    </div>
</div>

