.container{
    display: flex;
    margin-bottom: 170px;
}
.aboutLeft{
    margin-left: 180px;
    width: 80%;
}
.aboutRight{
    margin-left: 50px;
    margin-top: -38px;
    margin-right: 180px;
}

.aboutThilina{
    font-size: 50px;
}
.whatDo{
    color: rgb(80, 80, 74);
    margin-top: -40px;
}
.bothAboutThilina{
    margin-bottom: 60px;
}
.myVision{
    font-size: 25px;
}
.visionText{
    text-align: justify;
}
.detailsContainer{
    display: flex;
    word-spacing: 10px;
  
 
}
.detailsColor{
    color: rgb(8, 148, 131);
}
.leftDetails{
    margin-right: 70px;
}
.leftDetails p{
    margin-bottom: 40px;
}
.aboutButton{
    display: flex;
}
button{
    margin-right: 50px;
    margin-bottom: -100px;
    background-color:rgb(8, 148, 131); ;
    color: aliceblue;
    outline: none;
    padding: 20px;
    border-radius: 5px;
    border: none;
}
button:hover{
    background-color: black;
}
.mySkill{
    margin-left: 180px;
    margin-top: -80px;
    font-size: 50px;
}
.skills{
    margin-left: 180px;
    margin-top: -40px;
    color: rgb(80, 80, 74);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    margin: 0 180px;
    overflow: hidden;
   
   
}
.image-line {
    display: flex;
    align-items: center;
    animation: moveImages 28s linear infinite; /* Adjust the animation duration as needed */
}

.image-line img {
    width: 100px; /* Adjust the image width */
    margin: 0 10px; /* Adjust the spacing between images */
}

@keyframes moveImages {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-20%); /* Adjust the distance to move the images */
    }
}

.progbar {
    margin: 0 180px;
    display: flex;
 
}
.progbar2 {
    margin: 30px 380px;
    display: flex;
 
}

.progress-container {
    width: 300px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar {
    width: 90%; /* Adjust the progress percentage */
    height: 10px;
    background-color: rgb(8, 148, 131); /* Green color for completed progress */
    text-align: center;
    line-height: 20px;
    color: white;
}

.progress-bar1 {
    width: 70%; /* Adjust the progress percentage */
    height: 10px;
    background-color: rgb(8, 148, 131); /* Green color for completed progress */
    text-align: center;
    line-height: 20px;
    color: white;
}

.progress-bar2 {
    width: 80%; /* Adjust the progress percentage */
    height: 10px;
    background-color: rgb(8, 148, 131); /* Green color for completed progress */
    text-align: center;
    line-height: 20px;
    color: white;
}
.progressBarMarging{
    margin-right: 200px;

}

hr{
    margin: 0 180px;
}

.slide-frame{
    overflow: hidden;
    height: 400px;
    width: 500px;
}
.img-container1,.img-container2{
    display: block;
    position: absolute;
    
}
.img-container1{
    animation: fade1 15s infinite;
}

.img-container2{
    animation: fade2 15s infinite;
}

.img-container3{
    animation: fade3 15s infinite;
}


@keyframes fade1{
    0% {opacity: 0;}
    25% {opacity: 1;}
    50% {opacity:0;}
    75% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fade2{
    0% {opacity: 1;}
    25% {opacity: 0;}
    50% {opacity: 0;}
    75% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes fade3{
    0% {opacity: 1;}
    25% {opacity: 0;}
    50% {opacity: 1;}
    75% {opacity: 0;}
    100% {opacity: 1;}
}


.body1{
    min-height: 10vh;
    display: grid;
    place-items: center;
}
.slider{
    height: 650px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-track{
    display: flex;
    width:calc(250px * 18);
    animation: scroll 40s linear infinite;
}
@keyframes scroll{
    0%{
        transform: translateX(0);

    }
    100%{
        transform: translateX(calc(-250px * 9));
    }
}

.slide{
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 55px;
    perspective: 100px;
}

img{
    width: 300px;
    transition: transform 1s;
}

.slider::before,
.slider::after{
    background: linear-gradient(to right,rgba(255,255,255,1)0%,rgba(255,255,255,0)100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.slider::before{
    left: 0;
    top: 0;
}
.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
img:hover{
    transform: translateZ(20px);
}
.slide-track:hover{
    animation-play-state: paused;
}

.myphoto{
    margin-left: 180px;
    margin-bottom: -80px;
    padding-top: 10px;
}