<div class="container">
    <div class="aboutLeft">
        <img src="./assets/images/profile.png">

    </div>
    <div class="aboutRight">
        <div>
          <div class="bothAboutThilina">
            <p class="aboutThilina">About Thilina</p>
            <p class="whatDo">An undergraduate | Programmer | Digital Creator | YouTuber</p>
          </div> 
            <p class="myVision">My Vision</p>
            <p class="visionText">I have an unwavering passion for emerging technologies, a genuine enthusiasm for inspiring individuals, and a fervor for motivating teams towards accomplishing their objectives. I firmly believe that by reshaping our perspective on the world, we can reshape the world we encounter</p>
            <div class="detailsContainer">
                <Div class="leftDetails"><p>Name <span class="detailsColor">Thilina Karunarathne</span></p>
                    <p>Email <span class="detailsColor">thilinanuwankarunarathne@gmail.com</span></p>
                    <p>Location <span class="detailsColor">Kandy</span></p>
                </Div>
                <div><p>Age:<span class="detailsColor">25</span></p></div>
            </div>
           
        </div>
        <div class="aboutButton" >
            <div><Button>View LinkedIn</Button></div>
            <div><Button>Download CV</Button></div>
        </div>

    </div>
</div>

<div>
    <div>
        <p class="mySkill">My Skills</p>
        <p class="skills">Team Working | Adaptabillity | Problem Solving</p>
    </div>

    <div>
        <hr>
        <body>
            <div class="image-line">
                
                <img src="./assets/images/spring-boot1.png">
                <img src="./assets/images/4.png">
                <img src="./assets/images/8.png">
                <img src="./assets/images/9.png">
                <img src="./assets/images/3.png">
                <img src="./assets/images/spring-boot2.png">
                <img src="./assets/images/spring-boot3.png">
                <img src="./assets/images/spring-boot4.png">
                <img src="./assets/images/spring-boot .png">
                <img src="./assets/images/1.png">
                <img src="./assets/images/2.png">
                
               
                <img src="./assets/images/5.png">
                <img src="./assets/images/6.png">
                <img src="./assets/images/7.png">
                
                <img src="./assets/images/10.png">
                <img src="./assets/images/11.png">
                <img src="./assets/images/12.png">
                <img src="./assets/images/14.png">
                

               
             
                <!-- Add more images as needed -->
            </div>
          
        </body>
<hr>
    </div>
    <div class="progbar">
        <div class="progressBarMarging"> <p>Team Working: 90%</p>
            <div class="progress-container"> 
                <div class="progress-bar"></div>
            </div>
        </div>
        <div class="progressBarMarging"> <p>Team Working: 90%</p>
            <div class="progress-container"> 
                <div class="progress-bar"></div>
            </div>
        </div>
       
    </div>
    <div class="progbar2">
        <div class="progressBarMarging"> <p>Team Working: 90%</p>
            <div class="progress-container"> 
                <div class="progress-bar"></div>
            </div>
        </div>
        <div class="progressBarMarging"> <p>Team Working: 90%</p>
            <div class="progress-container"> 
                <div class="progress-bar"></div>
            </div>
        </div>
       
    </div>
 
 
</div>

