<div class="blogsDiv">
    <p class="blogs" >Bolgs</p>

    <p class="blogSlogan">This is my blogs</p>


  
</div>
<div class="blogContainer">
    <div>
        <img src="./assets/images/jwt.png" style="width: 400px;">
    </div>
    <div class="rightContainer">
        <h3>Key Steps to Implement JWT Authentication and Authorization with Spring Boot</h3>
        <p>When I explore the spring security with JWT authentication and authorization for my team project, I tried to understand these key points. so ,if you also understand these concepts it will help you on your journey.

            There are 8 main steps to understand in this blog post.now you can read it.
        </p>

        <p><a href="https://medium.com/@thilinanuwankarunarathne/key-steps-to-implement-jwt-authentication-and-authorization-d5419de2777a" style="text-decoration: none;">Read more...</a></p>
    </div>
</div>