.blogs{
    font-size: 50px;
    
    /* font-family: Rocher;
    base-palette: 7; */

}

/* @font-face{
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
} */

.blogsDiv{
    margin-top: 40px;
    margin: 40px 180px;
    text-align: center;
    padding-top: 10px;
}
.blogSlogan{
    margin-top: -42px;
}
.blogContainer{
    margin: 40px 180px;
    display: flex;

}
img{
    margin-right: 80px;
   
}
.rightContainer{
    margin-top: -24px;
}
.rightContainer h3{
  font-size: 25px;
}
.rightContainer p{
    text-align: justify;
}