<div class="blogsDiv">
    <p class="blogs">Bolgs</p>

    <p class="blogSlogan">This is my blogs</p>


  
</div>
<div class="blogContainer">
    <div>
        <img src="./assets/images/proje.png">
    </div>
    <div class="rightContainer">
        <h3>JWT Authentication with Spring Boot</h3>
        <p>I have an unwavering passion for emerging technologies, a genuine enthusiasm for inspiring individuals.
            I have an unwavering passion for emerging technologies, a genuine enthusiasm for inspiring individuals
            I have an unwavering passion for emerging technologies, a genuine enthusiasm for inspiring individuals
            I have an unwavering passion for emerging technologies, a genuine enthusiasm for inspiring individuals
            I have an unwavering passion for emerging technologies, a genuine enthusiasm for inspiring individuals
        </p>

        <p><a href="#" style="text-decoration: none;">Read more...</a></p>
    </div>
</div>