<div class="procontainer"><p class="myProject">My Projects</p>


    <p class="slogan">I have experience for those</p>

</div>

<div class="projectDisplay">
    <div class="imgContainer1">
        <img src="./assets/images/proje.png"  class="image">
        <div class="text">
        <h3>Zone_Ed School Management System</h3>
        <p style="text-align: justify;">Zone Ed is a web-based school management system that connects the
            zonal office, principals, teachers, students, and their parents. It
            facilitates them with a variety of features that significantly improve the
            coordination process. I was responsible for implementing Spring
            Security, JWT authentication, authorization, and reports generating.
            </p>
        </div>
    </div>
    <div class="imgContainer1">
        <img src="./assets/images/proje.png" class="image" >
        <div class="text">
        <h3>My Portfolio Angular
        </h3>
        <p style="text-align: justify;">I designed mt Portfolio website using angular with firebase.</p>
    </div>
    </div>
    <!-- <div>
        <img src="./assets/images/profile.png">
        <h3>Topixc</h3>
        <p>I have an unwavering passion for emerging technologies, a genuine enthusiasm for inspiring individuals,</p>

    </div> -->
</div>
<div class="projectDisplay">
    <div class="imgContainer1">
        <img src="./assets/images/proje.png" class="image">
        <div class="text">
        <h3>Nutmeg Maces Remover Hardware Project</h3>
        <p style="text-align: justify">This hardware system is an efficient and effective tool for abstracting
            mace from nutmeg and producing well-dried quality mace. The system
            is designed to produce well-dried quality mace in less time, making this
            process easier to perform even without trained laborers and minimizing
            the use of human labor in this process, among other benefits.
            </p>
        </div>

    </div>
    <div class="imgContainer">
        <img src="./assets/images/proje.png" class="image">
        <div class="text">
        <h3>CPEpsTopik Wordpress Project</h3>
        <p style="text-align: justify">CPepsTopik is an e-learning web application system for my client
            designed to facilitate online educational tasks and effectively connect
            instructors and students. This system provides features such as
            watching video records, joining Zoom classes, creating classrooms for
            various courses, registering users,security and more.
            </p>
        </div>

    </div>
    <!-- <div>
        <img src="./assets/images/profile.png">
        <h3>Topixc</h3>
        <p>I have an unwavering passion for emerging technologies, a genuine enthusiasm for inspiring individuals,</p>

    </div> -->
</div>


