<div><p class="myProject">My Projects</p>


    <p class="slogan">I have experience for those</p>

</div>

<div class="projectDisplay">
    <div>
        <img src="./assets/images/proje.png">
        <h3>Topixc</h3>
        <p>I have an unwavering passion for emerging technologies, a genuine enthusiasm for inspiring individuals,</p>
    </div>
    <div>
        <img src="./assets/images/proje.png">
        <h3>Topixc</h3>
        <p>I have an unwavering passion for emerging technologies, a genuine enthusiasm for inspiring individuals,</p>

    </div>
    <!-- <div>
        <img src="./assets/images/profile.png">
        <h3>Topixc</h3>
        <p>I have an unwavering passion for emerging technologies, a genuine enthusiasm for inspiring individuals,</p>

    </div> -->
</div>
<div class="projectDisplay">
    <div>
        <img src="./assets/images/proje.png">
        <h3>Topixc</h3>
        <p>I have an unwavering passion for emerging technologies, a genuine enthusiasm for inspiring individuals,</p>

    </div>
    <div>
        <img src="./assets/images/proje.png">
        <h3>Topixc</h3>
        <p>I have an unwavering passion for emerging technologies, a genuine enthusiasm for inspiring individuals,</p>

    </div>
    <!-- <div>
        <img src="./assets/images/profile.png">
        <h3>Topixc</h3>
        <p>I have an unwavering passion for emerging technologies, a genuine enthusiasm for inspiring individuals,</p>

    </div> -->
</div>

