<mat-toolbar>
    <!-- <span>My Application</span> -->

    <div class="main_menu">
        <button>Home</button>
        <button>About</button>
        <button>Services</button>
        <button>Projects</button>
        <button>Blogs</button>
        <button>Contact</button>
        
    </div>

  
    
  </mat-toolbar>
  <div class="container">
<div class="welcome_lefe_side">
    <div >
        <p class="welcomeText">Welcome to my World</p>
      </div>
    
      <div>
        <p class="hello">Hello ,</p>
      </div>
      <div>
        <p class="iAm">I am <span class="thilina">Thilina</span></p>
        <p class="Karunarathne">Karunarathne</p>
      </div>
      <div>
        <div class="slideshow-container">
            <div class=" slide slide1">An Undergraduate - University of Moratuwa</div>
            <div class=" slide slide2">FullStack Developer</div>
        

        </div>
        <div class="aboutme">I'm Passionate about new technologies, Inspiring people and Motivating teams as a leader to achieve goals. I believe that, If we can change the way we see the world, we can change the world we see.

        </div>
    </div>

   
    
</div>

<div class="image_rightSide">
    <img src="./assets/images/profile.png">
    <div class="socialText">Find with me</div>
    <div class="socialmediaLinks"> <a href="https://www.linkedin.com/in/thilina-karunarathne-131036232/"> <img class="linkedIn" src="./assets/images/LinkedIn.png"></a>
     <a href="https://www.facebook.com/profile.php?id=100083914298838&mibextid=ZbWKwL"> <img class="Facebook" src="./assets/images/Facebook.png"></a>
     <a href="https://github.com/thilinanuwankarunarathne"> <img class="Facebook" src="./assets/images/GitHub.png"></a>
      <a href="#"><img class="Facebook" src="./assets/images/Medium.png"></a>
    </div>

</div>

</div>




