.main_menu{
    margin-left: auto;
    margin-right: auto;
}
button{
   border: none;
   margin-left: 40px;
   font-size: 15px;
   font-weight: 550;
   transition: transform 0.4s ease;
   background: transparent;
   
}
button:hover{
    color: hwb(217 3% 4%);
    transform: scale(1.2); 
   
 
}
.welcome_lefe_side{
  
    margin-left: 180px;
    margin-top: 70px;
}
.welcomeText{
    text-transform: uppercase;
}

.hello{
    font-size: 100px;
    margin-top: 0;
    margin-bottom: 0;
}
.iAm{
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 0;
}
.thilina{
font-weight: 700;
letter-spacing: 6px;
}
.Karunarathne{
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    letter-spacing: 12px;


}
.image_rightSide{
    margin-left: 150px;
    
}
img{
    width: 380px;
    margin-right: 180px;
    margin-top: 70px;
}
.slideshow-container {
    position: relative;
    width: 300px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    overflow: hidden;
}
  /* Define individual slides */
  .slide {
    position: absolute;
    animation: slide-animation 5s infinite alternate; /* Adjust the animation duration as needed */
    font-size: 20px;
    margin-top: 90px;
    
}

/* Define the animation keyframes */
@keyframes slide-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.container{
    display: flex;
}