<mat-toolbar>
    <!-- <span>My Application</span> -->

    <div class="main_menu">
        <button>Home</button>
        <button>About</button>
        <button>Services</button>
        <button>Projects</button>
        <button>Blogs</button>
        <button>Contact</button>
        
    </div>

  
    
  </mat-toolbar>
  <div class="container">
<div class="welcome_lefe_side">
    <div >
        <p class="welcomeText">Welcome to my World</p>
      </div>
    
      <div>
        <p class="hello">Hello ,</p>
      </div>
      <div>
        <p class="iAm">I am <span class="thilina">Thilina</span></p>
        <p class="Karunarathne">Karunarathne</p>
      </div>
      <div>
        <div class="slideshow-container">
            <div class=" slide slide1">An Undergraduate - University of Moratuwa</div>
            <div class=" slide slide2">FullStack Developer</div>
        

        </div>
        <div class="aboutme">I'm Passionate about new technologies, Inspiring people and Motivating teams as a leader to achieve goals. I believe that, If we can change the way we see the world, we can change the world we see.

        </div>
    </div>

   
    
</div>

<div class="image_rightSide">
    <img src="./assets/images/profile.png">
    <div>hello</div>

</div>

</div>




