.main_menu{
    margin-left: auto;
    margin-right: auto;
}
button{
   border: none;
   margin-left: 40px;
   font-size: 15px;
   font-weight: 550;
   transition: transform 0.4s ease;
   background: transparent;
   
}
button:hover{
    color: hwb(217 3% 4%);
    transform: scale(1.2); 
   
 
}
.welcome_lefe_side{
  
    margin-left: 180px;
    margin-top: 70px;
}
.welcomeText{
    text-transform: uppercase;
}

.hello{
    font-size: 100px;
    margin-top: 0;
    margin-bottom: 0;
}
.iAm{
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 0;
}
.thilina{
font-weight: 700;
letter-spacing: 6px;
}
.Karunarathne{
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    letter-spacing: 12px;


}
.image_rightSide{
    margin-left: 150px;
    
}
img{
    width: 380px;
    margin-right: 180px;
    margin-top: 70px;
}
.slideshow-container {
    position: relative;
    width: 400px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
    overflow: hidden;
}
  /* Define individual slides */
  .slide {
    position: absolute;
    animation: slide-animation 12s infinite alternate; /* Adjust the animation duration as needed */
    font-size: 20px;
    margin-top: 40px;
    width: 399px;
    font-weight: 500;
    color: rgb(8, 148, 131);
    

    
    
}
 
.slide1{
    animation-delay: 1s;
   
}
.slide2{
    animation-delay: -5s;
}


/* @keyframes slide-animation {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
  }
 */




/* Define the animation keyframes */
/* @keyframes slide-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} */

@keyframes slide-animation {
    0%, 100% { transform: translateX(0); }
    25%, 75% { transform: translateX(100%); }
  }

.container{
    display: flex;
}

.aboutme{
    margin-top: -60px;
    color: rgb(8, 148, 131);
    font-weight: 500;
}