
<div class="serContainer">
    <p class="whatIoffer">What I Offer</p>
    <p class="offerText">What I think I'm good at...</p>
</div>

<div class="offerContainer">
    <div class="offer">
        <img src="./assets/images/Responsive.png" alt="">
        <h5>Web Development</h5>
        <p>I consistently strive to ensure that the assistance I offer is the most satisfactory and effective solution</p>
        
    </div>
    <div class="offer">
        <img src="./assets/images/Sharing.png" alt="">
<h5>IT Solutions</h5>
<p>I consistently strive to ensure that the assistance I offer is the most satisfactory and effective solution</p>
    </div>
    <div class="offer">
        <img src="./assets/images/Commercial.png" alt="">
          <h5>Social Media Marketing</h5>
          <p>I consistently strive to ensure that the assistance I offer is the most satisfactory and effective solution</p>
    </div>
</div>
